@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 14 100% 45%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 0 68% 48%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 100%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 4%;
    --foreground: 14 100% 45%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 0 68% 48%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 100%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block !important;
  background: transparent;
  border-radius: 1px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 1px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  border-radius: 1px;
  background: #CC2727;
  width: 100%;
}
.home-bg {
  background: rgba(10, 10, 10, 0.50);
  backdrop-filter: blur(100px);
}

.ido-box {
  @apply px-3 xl:px-5 py-5;

  border-radius: 12px;
  background: rgba(18, 18, 18, 0.70);
  backdrop-filter: blur(30px);
}